body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 48%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    resize: vertical;
}

button {
    display: block;
    margin-top: 10px;
}

.output {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.output h3 {
    margin: 0;
}

#intentJson {
    white-space: pre-wrap;
    font-family: Consolas, monospace;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

#uploadButton {
    margin-top: 5px;
    display: block;
}
